*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    
    
    background-color: #212121;
    color: #ffffff;
    
    font-family: sans-serif;
}

.main {
    min-block-size: 100dvh;

    padding-inline: 0.5rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
}
